ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.welcome{
  text-align:right;
}

.aneesh{
  width: 25%;
  height: auto;
}

.center { margin: 0 auto; width: 400px; }
